<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="counselor">
	<!-- 결제  -->
	<insert id="bookingInfo">
	insert into
		TB_advis_use
	values (
		#{memberId},
		#{advisId},
		#{coin},
		sysdate,
		#{endDay},
		#{payPrice},
		#{payInfo}
	)
	</insert>
	
	
	<!-- 상담사 리스트 출력  -->
	<select resultType="counselor" id="selectCounselorList" resultMap="counselorCollection">
		select 
			*
		from 
			TB_adviser
	</select>
	
	<!-- 상담사 전체 인원 count  -->
	<select resultType="_int" id="selectCounselorTotalContents">
		SELECT
			COUNT(*)
		FROM
			TB_adviser
	</select>
	
	<!-- 상담사별 리뷰게시글 숫자 count -->
	<select resultType="_int" id="selectCounselorReviewCount">
		select 
    		count(*) 
		from 
    		TB_adviser A join TB_adviser_review R 
        		on A.advis_id = R.advis_id
    	where A.advis_id = #{advis_id}
	</select>

	
	<!-- 상담사 1명 선택  -->
	<select id="selectOne" resultMap="counselorCollection">
		select 
			* 
		from 
			TB_adviser 
		where 
			advis_id = #{advis_id}
	</select>
	
	<select id="selectFilter" resultMap="counselorCollection">
	
	select
		*
	from
		TB_adviser
	where
		1=1
	<if test = "category.length != 0">
		<foreach collection="category"
					item="advisKeyword" index="i">
		<if test="i==0">
			and (advis_keyword like '%${advisKeyword}%'
		</if>
		<if test="i!=0">
			or advis_keyword like '%${advisKeyword}%'
		</if>
		</foreach>
		)
	</if>
	<if test="level.length != 0">
		<foreach collection="level"
					item="advisGrade" index="i">
			<if test="i==0">
			and (advis_grade like '%${advisGrade}%'
			</if>
			<if test="i!=0">
			or advis_grade like '%${advisGrade}%'
			</if>
		</foreach>
		)
		
	</if>	
	<if test="gender.length !=0">
	and advis_gender in 
		<foreach collection="gender"
					item="gender"
					open="("
					close=")"
					separator=",">
		#{gender}
		</foreach>
	</if>	
	<if test="day.length != 0">
	and advis_day in 
		<foreach collection="day"
					item="day"
					open="("
					close=")"
					separator=",">
		#{day}
		</foreach>
	</if>

	</select>
	
	<select id="selectReviewTotal" resultType="_int">
	select count(*) reviewTotal
	from TB_adviser_review
	where advis_id = #{advisId}
	</select>
	
	<select id="selectStarPoint" resultType="_double">
	select nvl(avg(star_point),0) starPoint
	from TB_adviser_review
	where advis_id = #{advisId}
	</select>
	
	
	<resultMap type="counselor" id="keywordMap">
		<result column="advis_keyword" property="advisKeyword" typeHandler="strArrTypeHandler"/>
	</resultMap>
	
	<resultMap type="counselor" id="counselorCollection">
		<id column="advis_id" property="advisId"/>
		<result column="advis_name" property="advisName"/>	
		<result column="advis_intro" property="advisIntro"/>	
		<result column="advis_line_intro" property="advisLineIntro"/>	
		<result column="advis_career" property="advisCareer"/>	
		<result column="advis_license" property="advisLicense"/>	
		<result column="advis_grade" property="advisGrade"/>	
		<result column="advis_gender" property="advisGender"/>	
		<result column="advis_day" property="advisDay"/>	
		<result column="advis_price" property="advisPrice"/>	
		<result column="advis_keyword" property="advisKeyword" typeHandler="strArrTypeHandler"/>	
		<result column="advis_license_file" property="advisLicenseFile"/>	
		<result column="advis_img" property="advisImg"/>		
	</resultMap>

	
</mapper>