<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
	<!-- 리뷰 게시글 리스트 출력  -->
	<select resultType="review" id="selectReviewList">
		select 
			* 
		from 
			TB_adviser_review
		where 
			advis_id = #{advisId}
	</select>
	
	<!-- 리뷰 게시글 count  -->
	<select resultType="_int" id="selectReviewTotalContents">
		SELECT
			COUNT(*)
		FROM
			TB_adviser_review
	</select>
	
	<!-- 리뷰 점수 계산  -->
	<select resultType="_double" id="selectReviewRating">
		select 
			avg(star_point) 
		from 
			TB_adviser_review 
		where 
			advis_id = #{advisId}
	</select>

	
</mapper>