<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	
<insert id="insert">
	insert into
		TB_product
	values (
		#{sellerId},
		'p'||to_char(seq_product_no.nextval, 'fm0000000'),
		#{categoryId},
		#{productName},
		#{brandName},
		#{price},
		#{deliveryFee},
		#{pointRate},
		#{discountPrice},
		#{productStock},
		#{productDetail},
		default,
		default
	)
</insert>

<insert id="insertAttachment">
	insert into
		TB_prod_img
	values(
		seq_prod_img_no.nextval,
		#{productId},
		#{originalImg},
		#{renamedImg},
		#{imgType}
	)
</insert>



<select id="selectTotalProducts" resultType="_int">
	    SELECT 
	    	COUNT(*) 
	    FROM 
	    	tb_product
	    where
	    	1=1
	    <if test="categoryId !=null">
	    and
		category_id= #{categoryId}
	    </if>
</select>
<select id="categoryList" resultMap="productList">
	select 
		*
	from
		tb_product
	 where
	    	1=1
	 <if test="categoryId !=null">
	    and
		category_id= #{categoryId}
	</if>
</select>
	
<select  id="productList" resultMap="productList">
select *
from (select * 
        from tb_product A join tb_prod_img B
            on A.product_id = B.product_id
        where B.img_type ='R'  order by A.enroll_date desc )
where 
	1=1
<if test="categoryId != null">
	and
		category_id= #{categoryId}
</if>
</select>
<select id="selectProductOne" resultMap="productList">
select 
	*
from 
	tb_product
where 
	product_id = #{productId}
</select>
<select id="selectAttachList" resultMap="attachList">
select 
	*
from 
	tb_prod_img  
where 
	product_id = #{productId}
</select>
<select id="selectOptionList" resultMap="optionList">
select 
	*
from 
	tb_prod_option   
where 
	product_id = #{productId}
	and 
	option_state='Y'
order by option_id
</select>

<resultMap type="kh.mclass.IgreMall.product.model.vo.Product" id="productList">
	<id column="product_no" property="productNo"/>
	<result column="product_id" property="productId"></result>
	<result column="seller_id" property="sellerId"></result>	
	<result column="category_id" property="categoryId"></result>	
	<result column="product_name" property="productName"></result>	
	<result column="brand_name" property="brandName"></result>	
	<result column="price" property="price"></result>	
	<result column="delivery_fee" property="deliveryFee"></result>	
	<result column="point_rate" property="pointRate"></result>	
	<result column="discount_price" property="discountPrice"></result>	
	<result column="product_stock" property="productStock"></result>	
	<result column="product_detail" property="productDetail"></result>	
	<result column="enroll_date" property="enrollDate"></result>
	<result column="product_state" property="productState"></result>			
	
	<collection property="attachList" ofType="attachment">
		<id column="attachment_no" property="attachmentNo"></id>	
		<result column="product_id" property="productId"/>	
		<result column="original_img" property="originalImg"/>	
		<result column="renamed_img" property="renamedImg"/>	
		<result column="img_type" property="imgType"/>	
	</collection>
	<collection property="optionList" ofType="prodOption">
		<id column="option_id" property="optionId"></id>	
		<result column="product_id" property="productId"/>	
		<result column="option_name" property="optionName"/>	
		<result column="option_value" property="optionValue"/>
		<result column="option_stock" property="optionStock"/>		
		<result column="option_price" property="optionPrice"/>	
		<result column="option_state" property="optionState"/>	
	</collection>
</resultMap>

<resultMap type="kh.mclass.IgreMall.product.model.vo.Attachment" id="attachList">
	<id column="attachment_no" property="attachmentNo"></id>	
		<result column="product_id" property="productId"/>	
		<result column="original_img" property="originalImg"/>	
		<result column="renamed_img" property="renamedImg"/>	
		<result column="img_type" property="imgType"/>	
</resultMap>

<resultMap type="kh.mclass.IgreMall.product.model.vo.ProdOption" id="optionList">
<id column="option_id" property="optionId"></id>	
		<result column="product_id" property="productId"/>	
		<result column="option_name" property="optionName"/>	
		<result column="option_value" property="optionValue"/>	
		<result column="option_stock" property="optionStock"/>	
		<result column="option_price" property="optionPrice"/>	
		<result column="option_state" property="optionState"/>
</resultMap>
	
</mapper>