<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	
<insert id="insert">
	insert into
		TB_product
	values (
		#{sellerId},
		#{productId},
		#{categoryId},
		#{productName},
		#{brandName},
		#{price},
		#{deliveryFee},
		#{pointRate},
		#{discountPrice},
		#{productStock},
		#{productDetail},
		default,
		default
	)
</insert>

<insert id="insertAttachment">
	insert into
		TB_prod_img
	values(
		seq_prod_img_no.nextval,
		#{productId},
		#{originalImg},
		#{renamedImg}
	)
</insert>



<select id="selectTotalProducts" resultType="_int">
	    SELECT 
	    	COUNT(*) 
	    FROM 
	    	tb_product
	</select>
	
<select  id="productList" resultMap="productList">
	select *
from (select * 
        from tb_product A join tb_prod_img B
            on A.product_id = B.product_id)
where 
	1=1
<if test="categoryId != null">
	and
		category_id= #{categoryId}
</if>
</select>
	<resultMap type="kh.mclass.IgreMall.product.model.vo.Product" id="productList">
	<id column="product_no" property="productNo"/>
	<result column="product_id" property="productId"></result>
	<result column="seller_id" property="sellerId"></result>	
	<result column="category_id" property="categoryId"></result>	
	<result column="product_name" property="productName"></result>	
	<result column="brand_name" property="brandName"></result>	
	<result column="price" property="price"></result>	
	<result column="delivery_fee" property="deliveryFee"></result>	
	<result column="point_rate" property="pointRate"></result>	
	<result column="discount_price" property="discountPrice"></result>	
	<result column="product_stock" property="productStock"></result>	
	
	<collection property="attachList" ofType="attachment">
		<id column="attachment_no" property="attachmentNo"></id>	
		<result column="poduct_id" property="productId"/>	
		<result column="original_img" property="originalImg"/>	
		<result column="renamed_img" property="renamedImg"/>	
	</collection>
	</resultMap>
	
</mapper>