<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cadmin">
	<select id="selectOne" resultMap="cadminMap">
		select 
		    member_id admin_Id, member_pwd admin_Pwd, member_name admin_Name,
		    grade, nickname, birthday, phone, address, email, gender
		from 
			tb_member_info
		where
			member_id = #{adminId} and grade = 'A'
	</select>
	
	<resultMap type="admin" id="cadminMap"></resultMap>
	
	<select id="list" resultMap="counselorMap">
		select 
			* 
		from 
			tb_adviser
	</select>
	
	<resultMap type="counselor" id="counselorMap">
 		<result column="advis_keyword" property="advisKeyword" typeHandler="strArrTypeHandler"></result>
 	</resultMap>
 	
 	<select id="counselorView" resultMap="counselorMap">
 		select
 			* 
 		from 
 			tb_adviser
 		where
 			advis_id = #{advisId}
 	</select>
 	
 	<update id="athorityUpdate">
 		update
 			tb_adviser
 		set
 			advis_grade = #{advisGrade}
 		where
 			advis_id = #{advisId}
 	</update>
 	
 	<delete id="counselorDelete">
 		delete
 		
 		from
 			tb_adviser
 		where
 			advis_id = #{advisId}
 	</delete>

	<select id="counselorSelectOne" resultMap="counselorMap">
		select
 			* 
 		from 
 			tb_adviser
 		where
 			advis_id = #{advisId}
	</select>
	
	<update id="counselorUpdate">
		update
			tb_adviser
		set
			advis_name = #{advisName},
			advis_career = #{advisCareer},
			advis_license = #{advisLicense},
			advis_price = #{advisPrice},
			advis_gender = #{advisGender}
		where
			advis_id = #{advisId}
	</update>
</mapper>