<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">

	<select id="memberList" resultType="Member">
		select
			*
		from 
			TB_MEMBER_INFO
		where 
			member_id = #{memberId}
	</select>
	<update id="updatePassword">
	update
		TB_MEMBER_INFO
	set
		member_pwd = #{memberPwd}
	where
		member_id= #{memberId}	
	</update>
	
	<delete id="memberDelete">
	delete
		from
	TB_MEMBER_INFO
		where
	member_id= #{memberId}	
	</delete>
	
	<update id="updateMember" >
	update
		TB_MEMBER_INFO
	set
		nickname = #{nickname},
		phone = #{phone},
		pwd_hint_code = #{pwdHintCode},
		pwd_ans = #{pwdAns},
		address = #{address},
		email = #{email}
	where
		member_id = #{memberId}			
	</update>
	
	<!-- 마이페이지 상담사 정보보기  -->
	<select id="selectCounselorOne" resultType="Counselor">
	select
		*
	from
		TB_adviser
	where
		advis_id = #{cmemberId}
	</select>
	
	
	<!-- 상담사 정보 업데이트  -->
	<update id="updateCounselor" >
	update
		TB_adviser
	set
		advis_name = #{advisName}
	where
		advis_id = #{advisId}			
	</update>
	
	<insert id="insertVaccion">
	insert
		into
	TB_vaccination
		values(
		#{parentsId},
		#{childId},
		#{vaccinCode},
		#{vaccinDate},
		#{nth}
		)
	</insert>
	<insert id="enroll">
	insert
		into
	TB_child
		values(
		#{parentsId},
		#{childId},
		#{childName},
		#{birthday},
		#{gender},
		#{phone}
		) 
	</insert>
	
	<update id="updateChildNumber">		
	update
		TB_MEMBER_INFO
	set
		child_number = +1
	where
		member_id = #{memberId}	
	</update>

	<select id="findPassword" resultType="Member">
	select
		*
	from
		TB_MEMBER_INFO
	where member_id = #{memberId} and pwd_hint_code = #{pwdHintCode} and pwd_ans = #{pwdAns}
		
	</select>

	<update id="fupdatePassword">
	update
		TB_MEMBER_INFO
	set
		member_pwd = #{memberPwd}
	where
		member_id= #{memberId}	
	</update>
	<select id="selectChild" resultType="Child">
	select
		*
	from
		TB_child
	where
		parents_ID = #{parentsId}
	</select>
	
	<!-- 상담 예약정보 조회  -->
	<select resultMap="keywordMap" id="selectBookingInfoList">
		select a.*, c.advis_keyword from TB_adviser C join TB_appointment A
    on C.advis_id = A.advis_id
    where member_id = #{memberId}
	</select>
	
	<resultMap type="bookingInfo" id="keywordMap">
		<result column="advis_keyword" property="advisKeyword" typeHandler="strArrTypeHandler"/>
	</resultMap>
	
	<!-- (상담사) 본인에게 신청된 예약정보 조회  -->
	<select resultType="BookingInfo" id="selectProgressCounselling">
	select 
		* 
	from 
		TB_appointment 
	where 
		advis_id = #{advisId} 
	and 
		coin >0 
	order by 
		end_day
	</select>
	
	<!--(상담사) 종료된 상담정보 확인  -->
	<select resultType="BookingInfo" id="selectEndCounselling">
	select 
		* 
	from 
		TB_appointment 
	where 
		advis_id = #{advisId} 
	and 
		coin = 0 
	order by 
		end_day
	</select>
	
	<select id="selectVaccination" resultType="Vaccination">
		select
			*
		from
			TB_vaccination
		where
			parents_ID = #{parentsId}
	</select>
	
	
	
</mapper>