<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">

	<select id="memberList" resultType="Member">
		select
			*
		from 
			TB_MEMBER_INFO
		where 
			member_id = #{memberId}
	</select>
	<update id="updatePassword">
	update
		TB_MEMBER_INFO
	set
		member_pwd = #{memberPwd}
	where
		member_id= #{memberId}	
	</update>
	
	<delete id="memberDelete">
	delete
		from
	TB_MEMBER_INFO
		where
	member_id= #{memberId}	
	</delete>
	
	<update id="updateMember" >
	update
		TB_MEMBER_INFO
	set
		nickname = #{nickname},
		phone = #{phone},
		pwd_hint_code = #{pwdHintCode},
		pwd_ans = #{pwdAns},
		address = #{address},
		email = #{email}
	where
		member_id = #{memberId}			
	</update>
	
	<insert id="insertVaccion">
	insert
		into
	TB_vaccination
		values(
		#{parentsId},
		#{childId},
		#{vaccinCode},
		#{vaccinDate},
		#{nth}
		)
	</insert>
	<insert id="enroll">
	insert
		into
	TB_child
		values(
		#{parentsId},
		#{childId},
		#{childName},
		#{birthday},
		#{gender},
		#{phone}
		) 
	</insert>
	
	<update id="updateChildNumber">		
	update
		TB_MEMBER_INFO
	set
		child_number = +1
	where
		member_id = #{memberId}	
	</update>

	<select id="findPassword" resultType="Member">
	select
		*
	from
		TB_MEMBER_INFO
	where member_id = #{memberId} and pwd_hint_code = #{pwdHintCode} and pwd_ans = #{pwdAns}
		
	</select>

	<update id="fupdatePassword">
	update
		TB_MEMBER_INFO
	set
		member_pwd = #{memberPwd}
	where
		member_id= #{memberId}	
	</update>
	<select id="selectChild" resultType="Child">
	select
		*
	from
		TB_child
	where
		parents_ID = #{parentsId}
	</select>
	
	<!-- 상담 예약정보 조회  -->
	<select resultType="BookingInfo" id="selectBookingInfoList">
		select 
			C.advis_id, 
			C.advis_name, 
			C.advis_img, 
			A.member_id,
			A.appoint_no, 
			A.coin, 
			A.start_day, 
			A.end_day, 
			A.pay_price, 
			A.payinfo 
		from TB_adviser C join TB_appointment A
    		on C.advis_id = A.advis_id
    	where member_id = #{memberId}
	</select>
	
	<!-- (상담사) 본인에게 신청된 예약정보 조회  -->
	<select resultType="BookingInfo" id="selectProgressCounselling">
		select 
    C.cmember_id, 
    A.advis_name, 
    A.advis_day, 
    A.advis_price,
    A.advis_img,
    B.appoint_no,
    B.member_id,
    B.coin,
    B.start_day,
    B.end_day
from 
    TB_adviser A join TB_comp_member C
        on A.advis_id = C.cmember_id
    join TB_appointment B
        on A.advis_id = B.advis_id
    where C.cmember_id = #{cmemberId} and B.coin >0
	</select>
	
	<select id="selectVaccination" resultType="Vaccination">
		select
			*
		from
			TB_vaccination
		where
			parents_ID = #{parentsId}
	</select>
	
	
</mapper>