<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">

	<select id="memberList" resultType="Member">
		select
			*
		from 
			TB_MEMBER_INFO
		where 
			member_id = #{memberId}
	</select>
	<update id="updatePassword">
	update
		TB_MEMBER_INFO
	set
		member_pwd = #{memberPwd}
	where
		member_id= #{memberId}	
	</update>
	
	<delete id="memberDelete">
	delete
		from
	TB_MEMBER_INFO
		where
	member_id= #{memberId}	
	</delete>
	
	<update id="updateMember" >
	update
		TB_MEMBER_INFO
	set
		nickname = #{nickname},
		phone = #{phone},
		pwd_hint_code = #{pwdHintCode},
		pwd_ans = #{pwdAns},
		address = #{address},
		email = #{email}
	where
		member_id = #{memberId}			
	</update>
	
	<insert id="insertVaccion">
	insert
		into
	TB_vaccination
		values(
		#{parentsId},
		#{childId},
		#{vaccinCode},
		#{vaccinDate},
		#{nth}
		)
	</insert>
	<insert id="enroll">
	insert
		into
	TB_child
		values(
		#{parentsId},
		#{childId},
		#{childName},
		#{birthday},
		#{gender},
		#{phone}
		) 
	</insert>
	
	<update id="updateChildNumber">		
	update
		TB_MEMBER_INFO
	set
		child_number = +1
	where
		member_id = #{memberId}	
	</update>

	<select id="selectChild" resultType="Child">
	select
		*
	from
		TB_child
	where
		parents_ID = #{parentsId}
	</select>
	
	<!-- 상담 예약정보 조회  -->
	<select resultType="BookingInfo" id="selectBookingInfoList">
		select
			*
		from 
			TB_appointment
		where 
			member_id = #{memberId}
	</select>
	
	
</mapper>