<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<select id="boardList" resultType="Board">
		select * from TB_board
	</select>

	<select id="postList" resultType="Post">
		select * from ${table} order by post_no desc
	</select>
	
	<select id="boardName" resultType="String">
		select board_name from TB_board where board_code = #{boardCode}
	</select>
	
	<select id="postCount" resultType="_int">
		select count(*) from ${table}
	</select>
	
	<insert id="preferIn">
		insert into TB_prefer values(#{memberId}, #{boardCode}, #{postNo})
	</insert>
	
	<delete id="preferOut">
		delete from TB_prefer where member_id = #{memberId} and board_code = #{boardCode} and post_no = #{postNo}
	</delete>
	
	<select id="postView" resultType="Post">
		select * from TB_post_${boardCode} where post_no = #{postNo}
	</select>
	
	<select id="replyList" resultType="Reply">
		select * from ${table} where post_no = #{postNo}
	</select>
	
	<select id="replyCount" resultType="_int">
		select count(*) from TB_reply_${boardCode} where post_no = #{postNo}
	</select>
	
	<select id="preferCount" resultType="_int">
		select count(*) from TB_prefer where board_code = #{boardCode} and post_no = #{postNo}
	</select>
	
	<insert id="replyWrite">
		insert into TB_reply_${boardCode} values(#{boardCode}, #{postNo}, seq_${boardCode}_reply.nextval, #{replyWriter}, #{replyContent}, default, default, default)
	</insert>
	
	<select id="checkComm" resultType="_int">
		select count(*) from TB_recommen where member_id = #{memberId} and board_code = #{boardCode} and post_no = #{postNo} and reply_no = #{replyNo}
	</select>
	
	<update id="postRecom">
		update TB_post_${boardCode} set recommen_count = recommen_count + 1 where post_no = #{postNo}
	</update>
	
	<insert id="RecomDecom">
		insert into TB_recommen values(#{memberId}, #{boardCode}, #{postNo}, #{replyNo})
	</insert>
	
	<update id="replyRecom">
		update TB_reply_${boardCode} set recommen_count = recommen_count + 1 where post_no = #{postNo} and reply_no = #{replyNo}
	</update>

	<update id="postDecom">
		update TB_post_${boardCode} set decommen_count = decommen_count + 1 where post_no = #{postNo}
	</update>
	
	<update id="replyDecom">
		update TB_reply_${boardCode} set decommen_count = decommen_count + 1 where post_no = #{postNo} and reply_no = #{replyNo}
	</update>
	
	<select id="confirmWriter" resultType="String">
		select writer from TB_post_${boardCode} where post_no = #{postNo}
	</select>
	
	<select id="confirmWriterR" resultType="String">
		select reply_writer from TB_reply_${boardCode} where post_no = #{postNo} and reply_no = #{replyNo}
	</select>
	
	<delete id="deletePostR">
		delete from TB_reply_${boardCode} where post_no = #{postNo}
	</delete>
	
	<delete id="deletePostP">
		delete from TB_post_${boardCode} where post_no = #{postNo}
	</delete>
	
	<delete id="deleteReply">
		delete from TB_reply_${boardCode} where post_no = #{postNo} and reply_no = #{replyNo}
	</delete>
	
	<select id="checkReport" resultType="_int">
		select count(*) from TB_report where
		report_board = #{boardCode}
		and report_post_no = #{postNo}
		and report_reply_no = #{replyNo}
		and reporter_id = #{reporterId}
		and report_conf = 'N'
	</select>
	
	<insert id="submitReport">
		insert into TB_report values(seq_report_no.nextval, #{reporterId}, #{reporteeId}, #{boardCode}, #{postNo}, #{replyNo}, #{reportContent}, default)
	</insert>
	
	<insert id="postWrite">
		insert into TB_post_${boardCode} values(
			#{boardCode}, seq_${boardCode}_post.nextval, #{writer}, default,
			<if test="postPwd == null or postPwd == ''">default, </if>
			<if test="postPwd != null and postPwd != ''">#{postPwd},</if>
			#{title}, #{content}, default, 0, 0, 0, 0,
			<if test="originFilename == null">null, null</if>
			<if test="originFilename != null">#{originFilename}, #{renameFilename}</if>
		)
	</insert>
	
	<update id="viewCount">
		update TB_post_${boardCode} set read_count = read_count+1 where post_no = #{postNo}
	</update>
	
	<update id="replyModify">
		update TB_reply_${boardCode} set reply_content = #{replyContent} where post_no = #{postNo} and reply_no = #{replyNo}
	</update>
	
</mapper>