<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<select id="boardList" resultType="Board">
		select * from TB_board
	</select>

	<select id="postList" resultType="Post">
		select * from ${table}
	</select>
	
	<select id="boardName" resultType="String">
		select board_name from TB_board where board_code = #{boardCode}
	</select>
	
	<select id="postCount" resultType="_int">
		select count(*) from ${boardCode}
	</select>
	
	<insert id="preferIn">
		insert into TB_prefer values(#{memberId}, #{boardCode}, #{postNo})
	</insert>
	
	<delete id="preferOut">
		delete from TB_prefer where member_id = #{memberId} and board_code = #{boardCode} and post_no = #{postNo}
	</delete>
	
	<select id="postView" resultType="Post">
		select * from ${table} where post_no = #{postNo}
	</select>
	
	<select id="replyList" resultType="Reply">
		select * from ${table} where post_no = #{postNo}
	</select>
	
	<select id="replyCount" resultType="_int">
		select count(*) from ${table} where post_no = #{postNo}
	</select>
	
	<select id="preferCount" resultType="_int">
		select count(*) from TB_prefer where board_code = #{boardCode} and post_no = #{postNo}
	</select>
	
	<insert id="replyWrite">
		insert into TB_reply_${boardCode} values(#{boardCode}, #{postNo}, seq_${boardCode}_reply.nextval, #{replyWriter}, #{replyContent}, default, default, default)
	</insert>
	
	<select id="checkComm" resultType="_int">
		select count(*) from TB_recommen where member_id = #{memberId} and board_code = #{boardCode} and post_no = #{postNo} and reply_no = #{replyNo}
	</select>
	
	<update id="postRecom">
		update TB_post_${boardCode} set recommen_count = recommen_count + 1 where post_no = #{postNo}
	</update>
	
	<insert id="recomRecomP">
		insert into TB_recommen values(#{memberId}, #{boardCode}, #{postNo}, default)
	</insert>
	
	<update id="replyRecom">
		update TB_reply_${boardCode} set recommen_count = recommen_count + 1 where post_no = #{postNo} and reply_no = #{replyNo}
	</update>
	
	<insert id="recomRecomR">
		insert into TB_recommen values(#{memberId}, #{boardCode}, #{postNo}, #{replyNo})
	</insert>
	
	
</mapper>