<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminOrder">
<delete id="deleteOrders">
delete 
	orderList
where 
	order_no =#{orderNo}
	
</delete>
<select id="totalOrders" resultType="_int">
select 
	count(*)
from 
	orderlist A left join tb_order_product B
        on A.order_no = B.order_no
      left join tb_prod_img C
       on B.product_id = C.product_id
       left join tb_product D
       on B.product_id = D.product_id
where 
	C.img_type='R'
<if test="productName != null or productName != ''">
and
	product_name like '%${productName}%'
</if>
<if test="payState!=null ">
and
	product_state = #{payState}
</if>
<if test="payMethod!=null">
and
	pay_method = #{payMethod}
</if>

<!-- <if test="deliveryState!=null">
and
	product_state = #{deliveryState}
</if> -->
<if test="payState != null">
and
	pay_state = #{payState}
</if>
</select> 


<select id="searchList" resultMap="orderCollection">



select
	*
from 
	orderlist A left join tb_order_product B  
        on A.order_no = B.order_no
        left join tb_prod_img C
       on B.product_id = C.product_id
       left join tb_member_info D
       	on A.member_id = D.member_id
       	left join tb_prod_option E
     on B.option_id = E.option_id
       left join tb_product F
       on B.product_id = F.product_id
where  
	C.img_type='R'



<if test="productName !=''">
and
	product_name like '%${productName}%'
</if>
<if test="payState!=null ">
and
	product_state = #{payState}
</if>	 
<if test="payMethod != '' ">
and
	pay_method = #{payMethod}
</if>
<!-- <if test="deliveryState!= null ">
and
	product_state = #{deliveryState}
</if> -->

</select>



<select id="selectList" resultMap="orderCollection">
select
	*
from 
	orderlist A left join tb_order_product B  
        on A.order_no = B.order_no
        left join tb_prod_img C
       on B.product_id = C.product_id
       left join tb_member_info D
       	on A.member_id = D.member_id
       	left join tb_prod_option E
     on B.option_id = E.option_id
     left join tb_product F
     on B.product_id= F.product_id
where 
	C.img_type='R'
</select>
<resultMap type="AdminOrderList" id="orderCollection">
<id column="order_no" property="orderNo"/>
<result column="member_id" property="memberId"/>
<result column="seller_id" property="sellerId"/>
<result column="product_id" property="productId"/>
<result column="pay_method" property="payMethod"/>
<result column="total_price" property="totalPrice"/>
<result column="total_delivery_fee" property="totalDeliveryFee"/>
<result column="recpt_name" property="recptName"/>
<result column="recpt_phone" property="recptPhone"/>
<result column="recpt_email" property="recptEmail"/>
<result column="recpt_zipcode" property="recptZipcode"/>
<result column="recpt_detail_addr" property="recptDetailAddr"/>
<result column="delivery_text" property="deliveryText"/>
<result column="delivery_no" property="deliveryNo"/>
<result column="pay_state" property="payState"/>
<result column="delivery_state" property="deliveryState"/>
<result column="order_date" property="orderDate"/>
<result column="member_name" property="memberName"/>
<result column="phone" property="phone"/>
<result column="option_id" property="optionId"/>
<result column="option_name" property="optionName"/>
<result column="option_value" property="optionValue"/>
<result column="PROD_COUNT" property="prodCount"/>

<collection property="attachList" ofType="AdminAttachment2">
		<id column="attachment_no" property="attachmentNo"></id>	
		<result column="product_Id" property="productId"/>
		<result column="product_name" property="productName"/>
		<result column="original_img" property="originalImg"/>	
		<result column="img_type" property="imgType"/>
		<result column="renamed_img" property="renamedImg"/>	
</collection>

</resultMap>

</mapper>