<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminAccount">

<select id="searchList" resultType="Account">
select 
	*
from 
	orderlist A left join tb_order_product B
        on A.order_no = B.order_no
      left join tb_prod_img C
       on B.product_id = C.product_id
       left join tb_product D
       on B.product_id = D.product_id
where 
	1=1
<if test="payState!=null or payState!='' ">
and
	pay_state = #{payState}
</if>	 
<if test="payMethod != '' ">
and
	pay_method = #{payMethod}
</if>
</select>

<select id="searchPList" resultType="PayMethod">
select 
    pay_method,count(*)count,sum(total_price)totalPrice
from
    orderlist A left join tb_order_product B
             on A.order_no = B.order_no
        left join tb_product C
            on B.product_id = C.product_id
where
	1=1 
	<if test="payState !='' or payState!= null">
	and
	    A.pay_state= #{payState}
    </if>
    <if test="payMethod != ''">
    and
    	A.pay_method=#{payMethod}
    </if>
group by pay_method
order by pay_method asc
</select>

<select id="pList" resultType="PayMethod">

select 
    pay_method,count(*)count,sum(total_price)totalPrice
from
    orderlist A left join tb_order_product B
             on A.order_no = B.order_no
        left join tb_product C
            on B.product_id = C.product_id
group by pay_method
order by pay_method asc

<!-- select 
	pay_method,count(*)count,sum(total_price)totalPrice
from
	orderlist
group by pay_method
order by pay_method asc -->
</select>

<select  id="accountList" resultType="Account">
select 
    *
from
    orderlist A left join tb_order_product B
             on A.order_no = B.order_no
        left join tb_product C
            on B.product_id = C.product_id
</select>


</mapper>