<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminEvent">
<select  id="selectEvent" resultType="Event">
select 
	* 
from
	tb_event
where
	event_no=#{eventNo}
	 
</select>
<select  id="eventList" resultType="Event">
select * from tb_event
</select>
<insert id="insertEvent">
insert into 
	tb_event
		values(
		seq_event_no.nextVal,
		#{eventTitle},
		null,
		#{eventStart},
		#{eventEnd},
		'A',
		#{eventContent}
		)
</insert>

</mapper>