<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminOrder">
<select id="totalOrders" resultType="_int">
select 
	count(*)
from 
	orderlist
where
	1=1
<!-- <if test="productName !=null">
and
	product_name like '%${productName}%'
</if> -->
<if test="payState!=null">
and
	product_state = #{payState}
</if>	 
<if test="payMethod != '' ">
and
	pay_method = #{payMethod}
</if>

<if test="deliveryState!=null">
and
	product_state = #{deliveryState}
</if>
<if test="payState != null">
and
	pay_state = #{payState}
</if>
</select> 


<select id="searchList" resultMap="orderCollection">
select
	*
from 
	(orderlist A left join tb_prod_img B 
        on A.product_id = B.product_id )
where 
	B.img_type='R'

<!-- <if test="productName !=''">
and
	product_name like '%${productName}%'
</if> -->
<if test="payState!=null ">
and
	product_state = #{payState}
</if>	 
<if test="payMethod != '' ">
and
	pay_method = #{payMethod}
</if>
<if test="deliveryState!= null ">
and
	product_state = #{deliveryState}
</if>
<if test="payState != null ">
and
	pay_state = #{payState}
</if>
</select>



<select id="selectList" resultMap="orderCollection">
select
	*
from 
	(orderlist A left join tb_prod_img B 
        on A.product_id = B.product_id )
where 
	B.img_type='R'
       
</select>
<resultMap type="OrderList" id="orderCollection">
<id column="order_no" property="orderNo"/>
<result column="member_id" property="memberId"/>
<result column="seller_id" property="sellerId"/>
<result column="product_id" property="productId"/>
<result column="pay_method" property="payMethod"/>
<result column="total_price" property="totalPrice"/>
<result column="total_delivery_fee" property="totalDeliveryFee"/>
<result column="recpt_name" property="recptName"/>
<result column="recpt_phone" property="recptPhone"/>
<result column="recpt_email" property="recptEmail"/>
<result column="recpt_zipcode" property="recptZipcode"/>
<result column="recpt_detail_addr" property="recptDetailAddr"/>
<result column="delivery_text" property="deliveryText"/>
<result column="delivery_no" property="deliveryNo"/>
<result column="pay_state" property="payState"/>
<result column="delivery_state" property="deliveryState"/>
<result column="order_date" property="orderDate"/>

<collection property="attachList" ofType="Attachment2">
		<id column="attachment_no" property="attachmentNo"></id>	
		<result column="product_Id" property="productId"/>
		<result column="original_img" property="originalImg"/>	
		<result column="img_type" property="imgType"/>
		<result column="renamed_img" property="renamedImg"/>	
	</collection>
</resultMap>

</mapper>