<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="selectId" resultType="Member" >
		select * from member where member_id = #{memberId}
	</select>
	
	<insert id="enroll">
	insert into member values(
		#{memberId}, #{password}, #{memberName}, #{gender}, #{birthday}, #{email}, #{phone}, #{address}, #{hobby, typeHandler=strArrTypeHandler}, default, default
	)
	</insert>
	
</mapper>