<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">


	<select id="selectId" resultType="Member">
		select * from TB_MEMBER_INFO
		where member_id = #{memberId}
	</select>
	
	<select id="selectBizId" resultType="BizMember">
		select * from TB_comp_member
		where Cmember_ID = #{cmemberId}
	</select>
	
	<select id="preferList" resultType="PreferList">
		select * from TB_prefer where member_Id = #{memberId}
	</select>

	<insert id="enroll"> 
	insert into TB_MEMBER_INFO values( 
		#{memberId},
		#{memberPwd}, 
		#{memberName}, 
		#{nickname}, 
		#{birthday}, 
		#{phone},
		#{pwdHintCode}, 
		#{pwdAns}, 
		#{address}, 
		#{email}, 
		#{gender}, 
		#{grade},
		#{age}, 
		#{mateId}, 
		#{childNumber}, 
		default 
		) 
		</insert>
		
	<update id="createMenses">
	create 
		sequence seq_${memberId}_menses
	</update>
	
	<update id="createTbMenses">
	create
		table TB_menses_${memberId}(menses_no number, menses_start date, menses_end date, menses_cycle number, menses_next date, childbearing_age_start date, childbearing_age_end date, pregnancy_date date)
	</update>

	<select id="selectOne" resultType="kh.mclass.Igre.member.model.vo.Member"> 
	select 
		* 
	from 
		TB_MEMBER_INFO
	where 
		member_Id = #{memberId}
	</select>
		
	<select id="selectOneComp" resultType="BizMember">
	select
		*
	from
		TB_comp_member
	where
		cmember_Id = #{cmemberId}
	</select>
	
	<select id="selectOneSomp" resultType="BizMember">
		select
		*
	from
		TB_comp_member
	where
		cmember_Id = #{cmemberId}
	</select>
	
	<insert id="bizenroll">
		insert into 
			TB_comp_member 
		values(
			#{cmemberId},
			#{memberPwd}, 
			#{phone}, 
			#{compDiv}	
			)
			
	</insert>
	
	<insert id="insertAdvis">
		insert into
			tb_adviser
		values(
			#{advisId},
			#{advisName},
			#{advisIntro},
			#{advisLineIntro},
			#{advisCareer},
			#{advisLicense},
			#{advisGrade},
			#{advisGender},
			#{advisDay},
			#{advisPrice},
			#{advisKeyword},
			#{advislicenseFile},
			#{advisImg}
		)
	</insert>
	
	<insert id="insertSeller">
		insert into
			tb_seller
		values(
			#{sellerId},
			#{sellerPwd},
			#{compName},
			#{compId},
			#{compNum},
			#{compFax},
			#{compAddress},
			#{sellerName},
			#{sellerPhone},
			#{sellerEmail},
			#{bankName},
			#{accountNo},
			#{accountHolder},
			#{brandName},
			#{salesCategories},
			#{salesAboutprod}
		)
	</insert>
	
	
</mapper>